*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
  height: 80vh;
}
body{
  height: 80%;
}
.container{
  margin-top: 70px;
  height: 80%;
}
#register{
  margin-left: 30px;
}
#reset{
  margin-left: 20px;
}
form{
  height: 80%;
}
#token{
  margin-top: 30px;
}

#reset-pass-btn{
  margin-left: 50%;
  margin-top: 30px;
}
#inner{
  display: flex;
  flex-direction: row;
  justify-content: center;
}